@media (max-width:991px) {
    /* .navbar {
        background-color: white;
        padding: 1.9375rem;
        font-size: 16px;
    } */

    ul li {
        border-bottom: 0.1px solid rgb(211, 84, 0);
        width: 100%;
        text-align: center;
    }
}

/* .nav-link:hover{
    color:rgb(211, 84, 0);
} */
.navbar-nav .nav-item .nav-link:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    border-radius: 10%;
    border: none;
}